

<app-button [value]="1" (sendvalue)="numberclick($event)"></app-button>
<app-button [value]="2" (sendvalue)="numberclick($event)"></app-button>
<app-button [value]="3" (sendvalue)="numberclick($event)"></app-button>
<app-button [value]="4" (sendvalue)="numberclick($event)"></app-button>
<app-button [value]="5" (sendvalue)="numberclick($event)"></app-button>
<app-button [value]="6" (sendvalue)="numberclick($event)"></app-button>
<app-button [value]="7" (sendvalue)="numberclick($event)"></app-button>
<app-button [value]="8" (sendvalue)="numberclick($event)"></app-button>
<app-button [value]="9" (sendvalue)="numberclick($event)"></app-button>
<app-button [value]="0" (sendvalue)="numberclick($event)"></app-button>
